body {
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #d7ccc8;
}

form {
	margin: 20px;
}

.opener {
	margin: 0px auto 30px auto;
	width: 100%;
	height: auto;
	position: relative;
}

.text {
	padding: 20px;
	border-radius: 15px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	position: absolute;
	top: 60%;
	left: 30%;
}

.shop-now {
	position: absolute;
	top: 80%;
	left: 40%;
}

.card-title {
	background-color: rgba(0,0,0,0.3);
	font-size: 14px;
}

.card-content {
	overflow: scroll!important;
}